.fixed-action-btn
{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 1em;
  top: 1em;
  padding-top: 0;
}

#slide-out .divider
{
  margin-top: 1em;
  margin-bottom: 1em;
}

#slide-out
{
  padding-top: 1em;
}
